.diagrams-section {
  background-color: #0F1E26;;
  color: #000000;
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagrams-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.diagrams-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.diagram-img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.diagram-caption {
  font-size: 1.1rem;
  max-width: 600px;
  color: #ff875b;
}

.diagrams-heading
{
  color: #ff875b;
}