.footer-container {
  background-color: #0F1E26;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-media {
  width: 100%;
}

.social-media-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  margin: 40px 0 0 0;
}

.social-logo {
  color: #FF7F50;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #FF7F50;
  margin-right: 2em;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .social-media-wrap {
    flex-direction: column;
    align-items: center;
  }

  .website-rights {
    margin-top: 10px;
  }
}
